@import '../../../styles';

.navbar-container {
  height: 100%;
  background-color: #57d9bb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .join-group-order {
    position: absolute;
    right: 0;
    margin-right: 5vw;
  }
}
