<div *ngIf="userId" class="join-group-order-container">
  <div *ngIf="groupCode; else noGroupOrder">
    <p>Group Order Code: {{ groupCode }}</p>
  </div>
  <ng-template #noGroupOrder>
    <mat-form-field>
      <input matInput type="text" [formControl]="groupForm">
    </mat-form-field>
    <button mat-button (click)="joinGroupOrder()" [disabled]="groupForm.value === ''">Join group order</button>
  </ng-template>
</div>
<div *ngIf="!userId" class="join-group-order-container">
  <fa-icon class="warn-icon" [icon]="faWarning"></fa-icon>
  <p class="error-message"> You must first be logged in
    to join a group order !
  </p>
</div>
