.create-group-order-container {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .warn-icon {
    font-size: 2rem;
    color: red;
  }

  .error-message {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
