<div class="group-order-container">
  <h1 mat-dialog-title>Group Order</h1>
  <div mat-dialog-content class="popup-content">
    <mat-tab-group>
      <mat-tab label="Create Group Order">
        <div class="mat-tab-content">
          <app-create-group-order></app-create-group-order>
        </div>
      </mat-tab>
      <mat-tab label="Join Group Order">
        <div class="mat-tab-content">
          <app-join-group-order [userId]="userId"></app-join-group-order>
        </div>
      </mat-tab>
      <mat-tab label="My Group Order">
        <div class="mat-tab-content">
          <app-grouper-order-lobby></app-grouper-order-lobby>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
