<h1 mat-dialog-title>Group Order</h1>
<div mat-dialog-content class="popup-content">
  <mat-button-toggle-group [(ngModel)]="selectedOption" class="toggle-group">
    <mat-button-toggle value="create">Create Group Order</mat-button-toggle>
    <mat-button-toggle value="join">Join Group Order</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
    <mat-label>Group Code</mat-label>
    <input matInput [(ngModel)]="groupCode" [disabled]="selectedOption !== 'join'">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog(selectedOption, groupCode)">{{ selectedOption === 'join' ? 'Join!' : 'Create!' }}</button>
</div>
