.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;

  p {
    font-size: 6rem;
    color: greenyellow;
  }

  app-navbar {
    grid-row: 1;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
